@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

a {
  font-weight: 500;
  color: #FB8500;
  text-decoration: inherit;
  font-size:x-large;
  margin: 20px;
  flex: auto;
}
a:hover {
  color: #ca7e1a;
}

/*body {
  margin: 60;
  padding: 60;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,h2 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent #f08800;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff7b00;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
}
button:hover {
  border-color: #f08800;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/
#secondaryButton {
 border-radius: 8px;
  border: 1px solid hsl(29, 100%, 50%);
  padding: auto;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  width: 320px;
  height: 40px;
  margin: 10px;
}
#cta {
  border-radius: 8px;
  padding: auto ;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FB8500;
  width: 320px;
  height: 40px;
  color: #ffffff;
  margin: 10px;
}
#search {
  width: 320px;
  height: 40px;
  margin: 10px;
  padding: auto;
  border-radius: 8px;
  font-style: inherit;
  font-weight: 200;
}
@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
  a:hover {
    color: #FB8500;
  }
  button {
    background-color: #FB8500;
  }
}
